<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    
    
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <div class="sidenav-title"> SecureProv </div>
        <br>
        <a href="/showData"> - Retrieve Transaction Data</a>
        <a href="/addData"> - Insert Data</a>
    </div>
    <div class="main">
        
        <h2>Data Provenance using Blockchain for Cloud Databases</h2>

        <form action = "https://blockchain-dataprovenance.herokuapp.com/insertDataDB" method = "POST" 
         enctype = "multipart/form-data">
            <label for="fname">Name:</label>
            <input type="text" id="name" name="name">
            <label for="rollno">Roll No: </label>
            <input type="text" id="rollno" name="rollno">
            <br>
            <input value="Insert Data in DB" type = "submit" onclick='document.getElementById("loading").style.display="block";'/>
        </form>
        <p>
            <div id="loading" style="display:none;">
                <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" height="35px" width="35px">
            </div>
        </p>
        <p>
            {{messages['dataAdded']}}
        </p>
    </div>
</body>
</html>