<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <div class="sidenav-title"> SecureProv </div>
        <br>
        <a href="/showData"> - Retrieve Transactions</a>
        <a href="/addData"> - Insert Data</a>
    </div>
    <div class="main">
        
        <h2>Data Provenance using Blockchain for Cloud Databases</h2>
        
        
    </div>
</body>
</html>