<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <a style = "padding-left:0px;" href="/"><div class="sidenav-title"> SecureProv </div></a>
        <br>
        <a href="/showData"> - Retrieve Transactions</a>
        <a href="/addData"> - Insert Data</a>
        <a href="/login"> - Login</a>
        <a href="/register"> - Register</a>
        {% if messages["loggedIn"] %}
        <a href="/addNewDatabase"> - Add new DB</a>
        <a href="/logout"><button> Logout </button></a>
        {% endif %}

    </div>
    <div class="main">
        
        <h2>Login</h1>
            <p>Login using your email ID and password</p>
            <!-- <form action = "http://localhost:5000/login" method = "POST" enctype = "multipart/form-data"> -->
            <form action = "https://blockchain-provenence.onrender.com/login" method = "POST" enctype = "multipart/form-data">
                <label for="emailID">EmailID:</label>
                <input type="text" id="emailID" name="emailID">
                <br>
                <br>
                <label for="pass">Password: </label>
                <input type="password" id="pass" name="pass">
                <br>
                <br>
                <input value="Login" type = "submit" onclick='document.getElementById("loading").style.display="block";'/>
            </form>
            <p>
                <div id="loading" style="display:none;">
                    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" height="35px" width="35px">
                </div>
            </p>
            <p>
                {{messages['error']}}
            </p>
        
    </div>
</body>
</html>