<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <a style = "padding-left:0px;" href="/"><div class="sidenav-title"> SecureProv </div></a>
        <br>
        <a href="/showData"> - Retrieve Transactions</a>
        <a href="/addData"> - Insert Data</a>
        <a href="/login"> - Login</a>
        <a href="/register"> - Register</a>
        {% if messages["loggedIn"] %}
        <a href="/addNewDatabase"> - Add new DB</a>
        <a href="/logout"><button> Logout </button></a>
        {% endif %}

    </div>
    <div class="main">
        {% if messages['dataAdded'] %}
        <div class="alert alert-success alert-dismissible fade show">
            <strong>Success!</strong> {{messages['dataAdded']}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        {% if messages['error'] %}
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> {{messages['error']}}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endif %}
        <h2>Register</h1>
            <p>Register a new account using your email ID and password</p>
            <!-- <form action = "http://localhost:5000/register" method = "POST" enctype = "multipart/form-data"> -->
            <form action = "https://blockchain-provenence.onrender.com/register" method = "POST" enctype = "multipart/form-data">
                <label for="emailID">EmailID:</label>
                <input type="text" id="emailID" name="emailID">
                <br>
                <br>
                <label for="pass">Password: </label>
                <input type="password" id="pass" name="pass">
                <br>
                <br>
                <label for="groupID">Database GroupID:</label>
                <input type="text" id="groupID" name="groupID">
                <br>
                <br>
                <label for="appID">App ID:</label>
                <input type="text" id="appID" name="appID">
                <br>
                <br>
                <label for="triggerID">Trigger ID</label>
                <input type="text" id="triggerID" name="triggerID">
                <br>
                <br>
                <input value="Register" type = "submit" onclick='document.getElementById("loading").style.display="block";'/>
            </form>
            <p>
                <div id="loading" style="display:none;">
                    <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" height="35px" width="35px">
                </div>
            </p>
    </div>
</body>
</html>