<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <a style = "padding-left:0px;" href="/"><div class="sidenav-title"> SecureProv </div></a>
        <br>
        <a href="/showData"> - Retrieve Transactions</a>
        <a href="/addData"> - Insert Data</a>
        <a href="/login"> - Login</a>
        <a href="/register"> - Register</a>
        {% if messages["loggedIn"] %}
        <a href="/addNewDatabase"> - Add new DB</a>
        <a href="/logout"><button> Logout </button></a>
        {% endif %}

    </div>
    <div class="main">
        
        <h2>Show Data</h1>
        <p>Retrieve Transaction Data stored on the Blockchain</p>
        <p>On pressing the button below, you can get the transaction data stored <b>live on the blockchain network</b></p>
        <!-- <form action = "http://localhost:5000/getData" method = "GET" enctype = "multipart/form-data"> -->
        <form action = "https://blockchain-provenence.onrender.com/getData" method = "GET" enctype = "multipart/form-data">
            <label for="dbID">Database ID:</label>
            <input type="text" id="dbID" name="dbID">
            <br>
            <input value="Get Data" type = "submit" onclick='document.getElementById("loading").style.display="block";'/>
        </form>
        <p>
            <div id="loading" style="display:none;">
                <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" height="35px" width="35px">
            </div>
        </p>
        <p id="retrievedData">
            <table>
                {% if messages['data']|length > 0 %}
                <tr>
                    <th>S.No.</th>
                    <th>Timestamp</th>
                    <th>Database Used</th>
                    <th>Collection Used</th>
                    <th>Operation</th>
                    <th>Transaction Hash</th>
                </tr>
                {% endif %}
                {% for row in messages['data']%}
                    
                    {% set rowloop = loop %}
                   <tr>
                      {% for col in row%}
                        <!-- {{ loop.index }}
                        {{ rowloop.index0 }}
                        {{ row|length }} -->
                        {% if loop.index == row|length %}
                            <td><a href="{{ messages['urlsList'][rowloop.index0] }}" target = "_blank">{{col}}</a></td>
                        {% else %}
                            <td>{{col}}</td>
                        {% endif %}
                      {% endfor %}
                   </tr>
                {%endfor%}
              </table>
            <!-- {{ messages['data'] }} -->
        </p>
    </div>
</body>
</html>