<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Include Bootstrap and Custom CSS -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/customStyle.css') }}">
    <title>SecureProv</title>
</head> 
<body>
    <div class="sidenav">
        <a style = "padding-left:0px;" href="/"><div class="sidenav-title"> SecureProv </div></a>
        <br>
        <a href="/showData"> - Retrieve Transactions</a>
        <a href="/addData"> - Insert Data</a>
    </div>
    <div class="main">
        
        <h2>Show Data</h1>
        <p>Retrieve Transaction Data stored on the Blockchain</p>
        <p>On pressing the button below, you can get the transaction data stored <b>live on the blockchain network</b></p>
        <form action="https://blockchain-dataprovenance.herokuapp.com/getData"></form>
        <!-- <form action = "http://localhost:5000/getData" method = "GET"  -->
         enctype = "multipart/form-data">
            
            <br>
            <input value="Get Data" type = "submit" onclick='document.getElementById("loading").style.display="block";'/>
        </form>
        <p>
            <div id="loading" style="display:none;">
                <img src="{{ url_for('static', filename='loading.gif') }}" alt="Loading" height="35px" width="35px">
            </div>
        </p>
        <p id="retrievedData">
            <table>
                {% if messages['data']|length > 0 %}
                <tr>
                    <th>S.No.</th>
                    <th>Timestamp</th>
                    <th>Database Used</th>
                    <th>Collection Used</th>
                    <th>Operation</th>
                </tr>
                {% endif %}
                {%for row in messages['data']%}
                    
                   <tr>
                      {%for col in row%}
                        <td>{{col}}</td>
                      {%endfor%}
                   </tr>
                {%endfor%}
              </table>
            <!-- {{ messages['data'] }} -->
        </p>
    </div>
</body>
</html>